
<ul class="post-list">
    {% for project in site.data.projects %}
    <li>
        <h3>
            <a class="post-link" href="{{ project.url | relative_url }}" target="_blank">
            {{ project.title | escape }}
            </a>
        </h3>
        <p>{{ project.description }}</p>
        <ul class="default-list">
            <li><i>Language: {{ project.language }}</i></li>
            <li><i>Type: {{ project.type }}</i></li>
            <li><i>Platform: {{ project.platform }}</i></li>
        </ul>
    </li>
    {% endfor %}
<ul>
